/* CAC Custom styles
 * Author: Chris Bovard - www.chrisbovard.com
 * Feb. 23, 2015
*/

/* =Import Files for Mixin Usage
----------------------------------------------------------------------------------*/
//the variable file is the one that will be modified by the themer - chris bovard
@import "custom_cac_variables"; 
//boostrap mixins
@import "bootstrap/mixins";

/* =Tablet Layout and Styles
----------------------------------------------------------------------------------*/





/*footer*/
#footer {
	ul {
	    background:none;
	    display:inline;
	    li {
	        list-style:none;
	        display:inline;
	        float:left;
	        margin:0;
	        width:auto;
	        padding:3px 26px 3px 0;
	        margin:0 26px 0 0;
	    }
	    #footer-contact {border-right:3px solid #eeeff1;}
	}
	h6 {
	    margin-top:30px;
	    br {display:none;}
	}
}
/*footer ends*/
